.form{
    width: 100%;
    display: flex;
    justify-content: center;
}

input{
    padding: 10px;
    border: none;
    height: 40px;
    width: 40%;
    background-color: var(--second-color);
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    font-weight: bold;
    width: 100px;
    background-color: rgb(209, 209, 209);
    border: 0;
    font-size: 16px;
}